
body {
    background: url(images/back.jpeg) no-repeat;
}
#clockContainer {
    position: relative;
    margin: auto;
    /* border: 2px solid red; */
    height: 35vw;
    width: 35vw;
    /* height: 320px;
    width: 320px; */
    background: url(images/clock_bck.png) no-repeat;
    background-size: 100%;
}

#center {
    position: absolute;
    height: 4%;
    width: 4%;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 50%;
    left: 47.8%;
    top: 46.8%;
  }
  
#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    height: 15%;
    top: 34.5%;
    width: 1.5%;
    left: 49.4%;
    opacity: 0.8;
}

#minute {
    height: 28%;
    top: 21.5%;
    width: 1%;
    left: 49.6%;
    opacity: 0.8;
}

#second {
    background: red;
    height: 28%;
    top: 21.5%;
    width: 0.5%;
    left: 49.85%;
    opacity: 0.8;
}

